{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock title %}
{% block root %}
    <div class="loginform">
        <div class="boxshadow">
        <form method="post" style="width: 32rem;">
            {% csrf_token %}
            <div class="card-body">
                <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" name="username" placeholder="Username" value='{{username}}' type="text"/>
                    <label for="username">Username or Email address</label>
                </div>
                <div>
                    <span class="text-danger">{{error}}</span>
                </div>
                <div>
                    <p class="text-center">
                        An instruction will be sent on how to reset password.
                    </p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Reset My Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock root %}