<form method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input name='name' type="text" class="form-control" placeholder="Search for creators" aria-label="Recipient's username" aria-describedby="button-addon2">
        <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Search"></input>
    </div>
</form>
<ul class="list-group-flush">
{% for i in Creators %}
    <li class="list-group-item"><a href="{% url 'profile' i.user.username %}">@{{i.user.username}} | {{i.user.first_name}} {{i.user.last_name}}</a></li>
{% endfor %}
</ul>
<div class="text-center">
<a href="{% url 'messagedetail' 'admin' %}" class="btn btn-outline-primary">Chat with our team</a>
</div>