<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href={% url 'home' %}>Bigyapan Bazzar</a>
      {% if request.user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for i in Categories %}
                <a class="dropdown-item" href="{% url 'category' i.title %}"><li>{{i.title}}</li></a>
              {% endfor %}
            </ul>
          </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'businesspanel' %}>Business panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={% url 'daycounter' %}>Day Counter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'about' %}>About Us</a>
            </li>
        </ul>
        
        <span class="navbar-text">
          <a href="{% url 'messagelist' request.user %}" class="card-link">
            <button type="button" class="btn btn-outline-success">Inbox</button>
          </a>
            <a href={% url 'profile' request.user %}><button type="button" class="btn btn-dark">{{request.user|capfirst}}</button></a>
          </span>
      </div>
      {% endif %}
    </div>
  </nav>