{% extends 'base.html' %}
{% block title %}{{request.user}}{% endblock title %}
{% block root %}
<div class="card center boxshadow">
  <div class="center">
    {% if Account.image %}
    <img src="{{Account.image.url}}" class="card-img-top profile_image" alt="{{Account.user.username}}">
    {% else %}
    <img src="/media/accounts/default.jpg" class="card-img-top profile_image" alt="default image">
    {% endif %}
  </div>
  <div class="card-body center">
      <h2 class="card-title">{{Account.user.first_name}} {{Account.user.last_name}}</h2>
      <h5 class="card-text">@{{Account.user.username}} | {% if Account.verified %}✅{% endif %}</h5>
      <i class="card-text">{{Account.status}}</i>
  </div>
    <ul class="list-group list-group-flush center">
      <li class="list-group-item">Account Type: <b>{{Account.account_type.name}}</b></li>
      <li class="list-group-item">Email: <b>{{Account.user.email}}</b></li>
      <li class="list-group-item">Contact: <b>{{Account.contact}}</b></li>
      <li class="list-group-item">Address: <b>{{Account.address}}</b></li>
      <li class="list-group-item">Youtube / Business Name: <b>{{Account.id_name}}</b></li>
      <li class="list-group-item">Youtube Link / Business Url: <b>{{Account.id_link}}</b></li>
    </ul>
    <div class="card-body">
      {% if Account.account_type.name == 'Creator' %}
      <a href="#" class="card-link"><button type="button" class="btn btn-outline-success">Create Post</button></a>
      {% endif %}
      <a href="#" class="card-link"><button type="button" class="btn btn-outline-primary">Edit</button></a>
      <a href={% url 'logout' %} class="card-link"><button type="button" class="btn btn-outline-danger">Logout</button></a>
    </div>
  </div>
</div>
<div class="row">
{% for i in Post %}
<div class="col-xxl-3 col-xl-4 col-md-6 col-12 p-2">
    <div class="p-2 video-box">
        <div class="center">
        <iframe width="390" height="220" src="https://www.youtube.com/embed/{{id_link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="grid-image-content-box">
            <div>
                <p><b>{{i.title}}</b></p>
                <p>Video ID: <b>{{i.id_link}}</b></p>
            </div>
        </div>
          <div>
              <a href="{% url 'media' i.id %}" class="btn btn-primary">View Description</a>
          </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock root %}